@font-face {
    font-family: 'menloregular';
    src: url('../fonts/menlo-regular-webfont.eot');
    src: url('../fonts/menlo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/menlo-regular-webfont.woff2') format('woff2'),
    url('../fonts/menlo-regular-webfont.woff') format('woff'),
    url('../fonts/menlo-regular-webfont.ttf') format('truetype'),
    url('../fonts/menlo-regular-webfont.svg#menloregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color: #272822;
    font-family: "menloregular", sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
}

.ml30{
    margin-left: 30px;
}

.lh20{
    line-height: 20px;
}

.white{
	color: #fff;
}

.green{
    color: #a4c34c;
}

.pink{
    color: #e63273;
}

.blue{
    color: #74c6e1;
}

.yellow{
    color: #e6d97a;
}

a,
a:hover{
    color: inherit;
    text-decoration: underline;
}

h1.titre_principal{
	color: #74c6e1;
	text-align: center;
    font-size: 40px;
}

h2.sous_titre_principal{
    margin-top: 20px;

	text-align: center;
	color: #f29537;
    font-size: 20px;
}

.github{
    text-align: center;
    margin-top:30px;
}
.github a{
    color: #fff;
}

h3{
    margin-top: 30px;
}

h3{
	text-align: center;
	color: #74705f;
}

article{
    margin-top: 20px;
}

#contact{
    text-align: center;
    margin-top: 50px;
}














